<%
  const content = $data.content
%>
<!DOCTYPE html5>
<html lang="en">
  <head>
    <title>
      <%= content.title %>
    </title>
    <%
      if (
        content.meta
      )
      {
        for (
          const $meta of content.meta
        )
        { %>
          <meta
            <%
              for (
                const $metaAttribute of $meta.attributes
              )
              { %>
                 <%= $metaAttribute.key %>="<%= $metaAttribute.val %>"
              <% }
            %>
          >
        <% }
      }
    %>
    <%
      if (
        content.link
      )
      {
        for (
          const $link of content.link
        )
        { %>
          <link
            <%
              for (
                const $linkAttribute of $link.attributes
              )
              { %>
                 <%= $linkAttribute.key %>="<%= $linkAttribute.val %>"
              <% }
            %>
          >
        <% }
      }
    %>
  </head>
  <body>
    <%
      if (
        content.script
      )
      {
        for (
          const $script of content.script
        )
        { %>
          <div></div>
          <script
            <%
              for (
                const $scriptAttribute of $script.attributes
              )
              { %>
                 <%= $scriptAttribute.key %>="<%= $scriptAttribute.val %>"
              <% }
            %>
          >
          </script>
        <% }
      }
    %>
  </body>
</html>